@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap');


.iqContent {
	background-color: #e8eff4;
	width: 100%;
	font-family:"Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}


* {
	box-sizing:border-box;
	margin:0;
}

.iqBottom {
    background: #fff;
    width: 100%;
    margin: 0 auto;
}

/* Шрифт, ширина основного блока  */

/* .iqTop *, .iqBottom * {
	font-family: 'Roboto Condensed', sans-serif;  
} */

.mob {
	display:none;
}

.iqTcontent, .iqBcontent {
	margin: 0 auto;
	width: 985px;
	text-align:center;
}


.iqTop {
	padding-top:5px;
	width: 985px;
	margin: 0 auto;
	padding-bottom: 80px;
}

/* Конец Шрифт, ширина...  */



.blockFirst {
	align-items: start;
	display:flex;
	justify-content: space-between;
	margin-top: 150px;
	margin-bottom: 100px;
}

.faces {
	width:52%;
	margin-left:-40px;
}

.faces img {
	width:100%;
}

.mobFaces {
	display:none;
}

.list {
	text-align:center;
	width:370px;	
}

.list > p {
	color:#fff;
	font-size:40px;
	font-weight:700;
	background:#CF008F;
	border-radius: 15px 15px 0 0;
	padding: 35px 20px 30px 20px;
}

.list > div {
	border: 2px solid #AFC5D7;
	border-top:none;
	border-radius: 0 0 15px 15px;
}

.list > p span {
	font-size:55px;
}

.list > div > p {
	font-size:14px;
	background:#fff;
	color: #000;
    border-radius: 0 0 6px 6px;
    padding: 8px;
    font-weight: 600;
	width:80%;
	margin: 0 auto;
}

.list > div > div {
	text-align:left;
	font-size: 18px;
	padding: 35px 15px 5px 20px;
	color:#000;
}

.list > div > div p {
	display:inline-flex;
	align-items:center;
	padding-bottom: 15px;
	color:#000;
}

.list > div > div span {
	padding-left: 18px;
}

.list > div > div span b {
	display: block;
	color:#CF008F;
	font-size: 18px;
	padding-bottom:6px;
}

.list > div > div img {
	width:63px;
}

.list > p {
	padding: 5px 20px 5px 20px;
}

.blockSecond {
	border: 2px solid #AFC5D7;
	border-radius: 15px;
	text-align:center;
	width:100%;
	margin-top:50px;
}

.iqTcontent h2 {
	color:#000;
	font-size: 45px;
}

.iqTcontent h2.rulesH {
	background: #E8EFF4;
	width: 360px;
	margin-top: -10px;
	margin-left: auto;
	margin-right: auto;
}

.iqTcontent h2.rulesH {
	margin-top: -25px;
}

.rules {
	margin-top:70px;
	color:#000;
}

.rules > img {
	width:63px;
}

.rules p {
	font-size:14px;
	color:#000;
}

.blockSecond .paper {
	display:inline-flex;
	align-items:center;
	padding-bottom:15px;
}

.blockSecond .paper a img {
	width:165px;
	transition:0.25s;

}

.blockSecond .paper a:hover img {
	transform:scale(1.2);
	transition:0.25s;
}

.iqTcontent h3 {
	font-size:32px;
	font-weight:400;
	padding: 30px 0 30px 0;
}

.iqTcontent h3 span {
	color:#CF008F;
}

.scheme {
	background-image: url(../img/label-d-1.png);
	background-repeat: no-repeat;
	background-position-x: 50%;
	display:flex;
	flex-wrap:wrap;
	justify-content: center;
	padding-bottom: 10px;
}

.question {
	width:50%;
	display: flex;
    flex-direction: column;
	align-items: center;
}

.question > div {
	background:#fff;
	padding:20px;
	width:230px;
	box-shadow: 0px 4px 60px rgba(207, 0, 143, 0.1);
}

.question .qH {
	color:#fff;
	background:#CF008F;
	border-radius: 15px 15px 0 0;
	font-size:32px;
	font-weight: 600;
    padding: 25px 20px 20px;
	margin-top: 250px;
}

.question .qT {
	border-radius: 0 0 15px 15px;
	height: 7.3vw;
	margin-bottom: 70px;
	display: flex;
    flex-direction: column;
    justify-content: center;
}

.question .qL {
	background:#fff;
	border-radius: 15px;
}

.question .qL span {
	display:block;
	color:#fff;
	background:#CF008F;
	border-radius: 12px;
	font-size:32px;
	font-weight: 400;
    padding: 12px;
	margin: 5px 0
}

.gifts {
	display:flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items:center;
	width:91%;
	margin-left:auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top:30px;
}

.gifts > div {
	display:flex;
	flex-direction:column;
	border: 2px solid #AFC5D7;
	border-radius: 15px;
	width:25%;
	height:100%;
}

.gifts > div.central {
	border: 2px solid #CF008F;
	width:40%;

}

.gifts h4 {
	color: #CF008F;
	padding-bottom:10px;
	font-size:18px;
}

.gifts p {
	padding:0 18px 30px 18px;
	margin: 0 auto;
}

.gifts > p {
	padding: 35px 18px 25px 18px;
	margin: 0 auto;
	font-weight: bold;
	order: 4;
}

.gifts .central h4 {
	font-size:40px;
	padding-bottom:30px;
}

.blockThird {
	padding-top: 130px;
}

.faces2 {
	width: 70%;
	display: block;
	margin: 0 auto;
	/* margin-top: -95px; */
}

.mainGift {
	background:#fff;
	box-shadow: 0px 4px 40px rgba(0, 90, 163, 0.1);
	border-radius: 15px;
	width:85%;
	margin:0 auto;
	padding: 0 50px;
}

.mainGift > div {
	display:flex;
	justify-content:space-between;
	margin-top: 0px;
	padding-bottom: 30px;
}

.mainGift > div img {
	margin-top: -80px;
	width: 40%;
}

.mainGift > div > div {
	text-align:left;
	width: 55%;
}

.mainGift p {
	color:#000;
	font-size: 14px;
}

.mainGift p:first-child {
	font-size: 32px;
	font-weight: 700;
	line-height: 1.2;
	padding-bottom: 12px;
	padding-top: 35px;
}

.mainGift p:first-child span {
	color: #CF008F;
}

.dates {
	color:#000;
	font-size: 32px;
	margin-top: 80px;
}

.gift250 > div.desk {
	display:flex;
	justify-content: space-between;
	width: 95%;
	margin: 0 auto;
}

.gift250 > div.desk > div {
 	width:35%;
 	background-image:url('../img/250000.png');
 	background-position-x: 50%;
 	background-repeat: no-repeat;
 	height: 350px;
 	display: flex;
 	align-items: flex-end;
 	padding-bottom: 50px;
}

.gift250 p {
	font-size:18px;
	color:white;
	background:#CF008F;
	border-radius:10px;
	padding:10px 8px 8px 8px;
	width: 37%;
    margin: 0 auto;
}

.iqButton {
	margin-top:60px;
}

.iqButton p {
	font-size:23px;
	color:#000;
	font-weight:600;
}

.iqButton a {
	display:block;
	font-size:45px;
	color: #1A458F;
	border: 1px solid #1A458F;
	width: 60%;
	margin: 0 auto;
	border-radius: 15px;
	padding: 35px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.iqButton a:hover {
	background: #1A458F;
	color: #fff;
	transition:0.3s;
}

.iqBottom {
	padding: 50px;
}

.iqBcontent {
	text-align:left;
	display:flex;
	justify-content:space-between;
	color: #000;
	width: 100%;
}

.iqBcontent > div {
	width:33%;
}

.iqBcontent > div:first-child {
	width:45%;
}

.iqBcontent h3 {
	font-size: 20px;
    padding-bottom: 20px;
	color:#000;
}

.iqBcontent p {
	font-size: 13px;
    padding-bottom: 15px;
	color:#000;
}

.iqBcontent img {
	width: 100px;
	align-self:baseline;
}

@media screen and (max-width:1024px) {

 .question .qT {
    height: 12vw;
}

  .iqTcontent {
    width:100%;
    padding: 0;
}

 .blockFirst {
	display: flex;
	flex-direction:column;
	height:auto;
	background: none;
}

.iqTop {
	width:100%;
}

 .list {
    width: 70%;
    margin: 0 auto;
}

.list > div > div p {
	margin:0 auto;
	width: 90%;
}

 .mobFaces {
	display:block;
	margin: 0 auto;
}

.mobFaces img {
	width: 100%;
	margin-top: 110px;
}

.list > div > div {padding-left: 60px;padding-bottom: 40px;padding-right: 60px;}

.list > div > div span b {
	font-size: 20px;
}

 .blockSecond {
    margin-top: 100px;
	border:none;
}

 .paper.desk {
	display:block;
}

.scroll {
	overflow-x: scroll;
}

 .paper a img {
    max-width: 150px;

}
 .blockSecond .paper.desk img {
	width:18%;
}

.blockThird {
    padding-top: 100px;
}

.mainGift > div img {
	margin-top: 0;
	position: relative;
	top: -70px;
}

.mainGift > div {
	padding-bottom: 20px;
}

 a:hover {
	border:0;
}

 .pad {
	padding: 0 20px;
}

}

@media screen and (max-width: 770px) {

.iqTcontent {
		padding: 0;
	}

	.iqBcontent, .iqTcontent {
	width:100%;
}

	 .desk {
		display: block;
	}

	 .mob {
		display:block;
	}

	 .iqTop {
    	padding-top: 20px;
    	width: 100%;
 }

	 .blockFirst {
    background: none;
}

 .list {
    margin: 0 auto;
    padding-top: 20px;
}

 .list > div > p {
	box-shadow: 0px 4px 20px rgba(255, 0, 176, 0.1);
}

 .blockSecond {
	border:none;
	border-radius: 0;
}

 .iqTcontent h2.rulesH {
    font-weight:600;
}

.rules {
    margin-top: 70px;
}

 .rules > img {
    width: auto;
}

 .iqTcontent h3 {
    padding-bottom:0;
}

.rules p {
	font-size:16px;
}

 .scroll {
	overflow-x: scroll;
}

.scroll::-webkit-scrollbar {
	width: 0;
  } 

 .paper a img {
    max-width: 1600px;
}

 .blockSecond .paper {
	padding-top:20px;
	padding-bottom: 0;
}

 .iqTcontent h2.rulesH {
    margin-bottom: -30px;
}

 .scheme {
	background:none;
	flex-direction:column;
	margin-top: 30px;
}

.scheme img {
	margin: 0 auto;
}

 .question {
    width: 100%;
}

 .question .qH {
    padding: 25px 20px 20px;
    margin-top: 20px;
}

 .question .qT {
    height: auto;
    margin-bottom: 0;
}

 .or {
	font-size:25px;
	margin-top:20px;
}

 .arrow {
	margin: 25px 0;
}

 .gifts {
	justify-content: center;
	width: 100%;
	margin-bottom: 0;
	display: flex;
	flex-wrap: wrap;
}

 .gifts > div {
	border: none;
    border-radius: 0;
    width: 100%;
}

 .gifts > div.central {
	order:1;
	border-radius: 15px;
	width: 55%;
}

.gifts p {
	font-size: 20px;
}

 .gifts > div {
	order: 2;
}

.gifts > div:not(.central){
	width: 50%;
}

.gifts > div:not(.central) h4 {
	margin-top: -30px;
}

.faces2 {
	width:90%;
}

 .blockThird {
	padding-top: 120px;
}

 .mainGift {
	padding:0;
	margin-top: 50px;
}

 .mainGift > div {
	flex-direction: column;
	margin-top: 0;
	padding-bottom: 0;
}

 .mainGift > div img {
   width: 55%;
   margin: -30px auto -40px auto;
}

.mainGift  p.desk, .gift250 .mob {
	display: none;
}

.mainGift p {
	font-size:2em;
}

 .gifts .central h4 {
	font-size:32px;
	padding-bottom: 20px;
}

 .gifts h4 {
	font-size:22px;
	padding-bottom: 0;
	margin-top: -20px;
}

 .mainGift > div > div {
	width:100%;
}

 .gift1 {
	font-size: 32px;
	font-weight: 600;
	text-align: center;
	line-height: 1.4;
	margin-top: 15px;
}


 .gift1 span {
	color: #CF008F;
	font-size: 1.5em;
	display: block;
}

 .gift2 {
	text-align: center;
    margin: 20px auto -25px;
    background: #CF008F;
    padding: 8px;
    color: #fff;
    border-radius: 12px;
    width: 50%;
    font-size: 20px;
}

.mob.gift2 {
	color:white;
	font-size: 2.3em;
}

 .gift3 {
	padding-top: 50px;
	font-size: 1.3em;
}

 .gift250 .mob div {
	margin-top:-55px;
}

 .gift250 .mob p {
	margin-bottom:10px;
}

.gift250 p {
	width: 50%;
}

.gift250 > div.desk  {
	flex-flow:wrap;
	justify-content: space-around;
}

.gift250 > div.desk > div {
    width: 50%;
}

.gift250 > div.desk > div:last-child {
    margin-top: -50px;
}

 .iqButton a {
	font-size:25px;
	padding: 15px;
	background:#1A458F;
	color:#fff;
}

 .iqBcontent {
	flex-direction: column;
}

 .iqBcontent > div {
	width:100%!important;
}

 .iqBcontent img {
	margin-top: 40px;
}

.iqBcontent h3 {
	padding-top:20px;
}

.iqBcontent p {
    font-size: 1.1em;
}
}

@media screen and (max-width:500px)  {

	.list {
        width: 100%;
	}

	.list > p {
		border-radius: 0;
	}

	.list > div {
		border:0;
	}

	.rules > img {
	width: 60px;
	}

	.blockSecond {
        margin-top: 60px;
 }
 	.iqTcontent h3 {
		width:90%;
		margin: 0 auto;
	}

	.rules p {
		padding-top: 10px;
	}

	.list > div > div {
		padding-left: 53px;
		padding-bottom: 40px;
		padding-right: 10px;
	}

	.gifts > div.central {
        width: 85%;
    }

	.gifts {
		flex-flow: column;
	}

	.gifts > div:not(.central) {
        width: 80%;
    }

	.gifts > p {
		padding: 5px 18px 25px 18px;
	}

	.blockThird {
	padding-top: 70px;
	}

	.mainGift > div img {
        width: 55%;
        margin: -30px auto -40px auto;
    }

	    .mainGift p {
        font-size: 1.5em;
    }

	.gift250 > div.desk > div {
        width: 80%;
    }

	.gift250 > div.desk > div:not(:first-child) {
        margin-top: -50px;
    }

	    .scheme img:first-child {
        width: 80%;
    }

	.mob.gift2 {
       
        font-size: 1.4em;
    }

	.iqTcontent h2.rulesH {
		width:auto;
	}

	
}


