
$violet: #a80e8f;
$blue: #e8eff4;
$yellow: #f4cc2e;

$media: screen;
$feature: max-width;
$valueL: 1024px;
$valueM: 800px;
$valueS: 500px;

.topBlockIqMenu {
  width:100%;
  margin:0;
  padding:0;
  background-color: $blue;
  display:flex;
  flex-direction: column;
  position: fixed;
  z-index: 200;
  top:0;
  overflow: hidden;
}

.iQheaderMenu {
	display: inline-flex;
	justify-content: space-between;
  overflow:visible;
  align-items: center;
	width:985px;  
	margin: 0 auto;
  padding:8px 0 3px;
	top: 0;
  position:relative;
	z-index: 100;
	background-color: $blue;
  .logoIq {
    width:250px;
    @media #{$media} and ($feature:$valueM)  {
      width:220px;}
    @media #{$media} and ($feature:$valueS)  {
      width:170px;
    }
    img {width:100%;} 
    }

  .deskMenuIqItems {
    // display:none;
    display: inline-flex;  
    justify-content: flex-end;
    div {
      margin-bottom:5px;
      font-family: 'Fira Sans', sans-serif;     
      font-size: 1.15em;
      width:250px;
      text-align: right;
      a {
        display:block;
        color:inherit;
        text-decoration: none;
        font-size:1.15em;
        transition: .3s;
        text-decoration: underline;
       &:hover {          
            transform: rotate(-3deg);
            scale: 1.2;
            font-size:1.2em;
            transition: .3s;
            color: $violet;
            text-decoration: none;
          }
      }      
    }
  }  
}

#burgerMenu {
  position: fixed;
  display:none;
  opacity: 0;
  top:70px;
  z-index: 300; 
}

  .burgerIq {    
  z-index: 301;
  }

  .menuIqMenu {
    position:relative;   
    cursor: pointer;
    color:#fff;
    width:50px;
    height: 50px;
    z-index: 600;
    }   
  
  .menuItemsIqMenu { 
    position:absolute; 
    top:70px;
    display: none;
    z-index: 400;
    div {
      cursor:pointer;
      opacity:0;
      margin-bottom: 20px;
      white-space: nowrap; 
      a {      
      color:$violet;
      font-family: 'Fira Sans', sans-serif;
      text-decoration: none;
      font-size: 1.2em;
      transition: .3s;
      &:hover {
        text-decoration: underline;               
        }
      } 
    }
  }   
  
    .yellowIqMenu {
    position:absolute;
    z-index: 305;
    background-color: $yellow;
    width:1px;
    height:1px;
    border-radius: 50%;    
    overflow: hidden;
  }

  .redIqMenu {
    position:absolute;
    z-index: 304;
    background-color: $violet;
    width:1px;
    height:1px;
    border-radius: 50%;    
    overflow: hidden;
  }

  .grayIqMenu {
    position:absolute;
    z-index: 303;
    background-color: black;
    opacity: 0;
    width:5000px;
    left:-2000px;
    height: 100vh;
    display: none;   
  }
 
  #burger {
    overflow: visible;
  }












