/*---- Начало Top -----*/

.topBlockIqTop {
  width:100%;
  /* height: 5000px; */
  margin:0;
  padding:0;
  overflow-x: hidden;
  position:relative;
  display:flex;
  flex-direction: column;
}

.menuIqTop {
  cursor: pointer;
  position: fixed;
  top:80px;
  right:15%;  
	 align-self: flex-end; 
 	background-color: #a80e8f;
  color:#f5ff30;
   padding:15px 30px;
 	text-align: center;
}    

.menuItemsIqTop {
  position:fixed;
  z-index: 200;
  top:50px;
  right:50px;
  color:#fff;
}

.menuItemsIqTop div {
 cursor:pointer;
 opacity:0;
 margin-bottom: 20px;
}

.menuItemsIqTop div:hover {
  text-decoration: underline;
}

.redIqTop {
  position:fixed;
  top:0;
  right:0;
  background-color: red;
  width:30px;
  height:30px;
  border-radius: 50%;
  z-index: 100;
  overflow: hidden;
}

.grayIqTop {
  background-color: black;
  opacity: 0;
  width:100%;
  height: 100vh;
  position: fixed;  
}

/*---- Конец Top -----*/