
#iqSlider {
position:relative;
z-index: 100;
margin-left:-40px;
margin-top:-30px;
  .controls {
  display:flex;
  justify-content: center;
  align-items: center;
  button {
    background-image: url(../img/arrow.png); 
    background-size: cover; 
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border:none;
    width:30px;
    height: 50px;
    background-color: transparent;
    opacity: 0.25;
    transition:0.3s;
    padding:10px;
    margin-left: -15px;
    cursor: pointer;
  &:hover {
    scale:1.3;
    opacity: 0.35;
    }
  }
    #prevButton {
      transform: rotate(-90deg);
    }
    #nextButton {
      transform: rotate(90deg);
    }
} 

.slides-container {
  position: relative;
  z-index:1;
  overflow: hidden;  
  display: flex;
  flex: 1;
  .slides-inner {
  position: relative;
  height: 420px;
  width: 150px;  
  overflow: hidden;
    .slide {
      position: absolute;
      z-index:0;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 140px;  
      width: 100%;
        img {
        width:130px;
        transition:0.3s;
          &:hover {
          scale:1.35;
          transition:0.3s;
          }
        }
     }
}}} 


  





