
.controls {
  display:flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.controls button {
  background-image: url(../img/arrow.png);  
  background-size: cover; 
  background-position: 50% 50%;
  background-repeat: no-repeat; 
  height: 50px;
  background-color: transparent;
  opacity: 0.3;
  transition:0.3s
}

.controls button:hover {
scale:1.4;
}

#prevButton{
  transform: rotate(90deg);
}

#nextButton{
transform: rotate(-90deg);
}

.slides-container {
  position: relative;
  overflow: hidden;  
  display: flex;
  flex: 1;
}

.slide {
  position: absolute;
  font-size: 90px;
  font-weight: 700;
  color: rgba(255,255,255,0.9);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 140px;  
  /* width: calc(100% / 4); */
  width: 100%;
}

.slide img {
  width:130px;
  transition:0.3s;
}

.slide img:hover {
  scale:1.3;
  transition:0.3s;
}

.slides-inner {
  position: relative;
  height: 420px;
  width: 150px;  
  overflow: hidden;
}

.slides-inner .slide {
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

