
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Caveat'; // Название шрифта
    src: url('../assets/fonts/Caveat/Caveat-VariableFont_wght.ttf') format('truetype'); // Путь к файлу шрифта
}
@font-face {
    font-family: 'Golos'; // Название шрифта
    src: url('../assets/fonts/Golos-Text/GolosText-Regular.ttf') format('truetype'); // Путь к файлу шрифта
}
@font-face {
    font-family: 'Golos-Extra-Bold'; // Название шрифта
    src: url('../assets/fonts/Golos-Text/GolosText-ExtraBold.ttf') format('truetype'); // Путь к файлу шрифта
}

// Шрифты
@mixin caveat {
    font-family: "Caveat", sans-serif;
}
@mixin golos {
    font-family: "Golos", sans-serif;
}
@mixin golos-extra-bold {
    font-family: "Golos-Extra-Bold", sans-serif;
}

// Цвета
$black: #000;
$white: #fff;
$yellow: #fff957;
$red: #C05555;
// :root {--green:#3eae3e;}

//Размеры
$borders:8%;
$height-top:1.6rem;
$biggest:10rem;
$text:1.5rem;
$borderRadius: 0.4rem;

// Media
$media: screen;
$fMax: max-width;
$fMin: min-width;
$valueMax: 1681px;
$valueXXL: 1680px;
$valueXL: 1440px;
$valueXLS: 1366px;
$valueL: 1024px;
$valueM: 800px;
$valueS: 500px;
$valueXS: 380px;

@function fontSize($n,$fontSize) {
	@return $n * $fontSize;
}

@mixin mediaFontSize($fontSize) {
    @media #{$media} and ($fMin:$valueMax)  {      			
				font-size:fontSize(2,$fontSize);
			}
    @media #{$media} and ($fMax:$valueXXL)  {      			
				font-size:fontSize(1.75,$fontSize);
			}
    @media #{$media} and ($fMax:$valueXL)  {      			
				font-size:fontSize(1.5,$fontSize);
			}
    @media #{$media} and ($fMax:$valueXLS)  {      			
				font-size:fontSize(1.4,$fontSize);
			}
    @media #{$media} and ($fMax:$valueL)  {      			
				font-size:fontSize(1.3,$fontSize);
			}
    @media #{$media} and ($fMax:$valueM)  {      			
				font-size:fontSize(1.13,$fontSize);
			}
    @media #{$media} and ($fMax:$valueS)  {      			
				font-size:$fontSize;
			}   
    @media #{$media} and ($fMax:$valueXS)  {      			
				font-size:calc($fontSize/1.2);
			}   
}

@mixin dark-block {
    background-color: $black;
    color:$white;    
}

@mixin yellow-block {
    background-color: $yellow;
    color:$black;
}

@mixin red-block() {
    background-color: $red;
    color:$yellow;       
}

@mixin flex-column {
    display:flex;
    flex-direction: column;
}

@mixin flex-row {
    display:flex;
    flex-direction: row;
}

@mixin bigBlockWidth($width) {
    max-width:$width;
    margin: 0 auto;
    width:$width; 
} 

@mixin box($e) {
    width:$e;
    height:$e;
}

@mixin square($e,$m) {
    width:$e;
    height:$m;
}

@mixin circle($e) {
    width:$e;
    height:$e;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.5);
}

// Структура


* {
	box-sizing:border-box;
	-webkit-tap-highlight-color: transparent;
    margin:0;
    padding:0;
}

body {
    width: 100%;
    @include golos();
    overflow-x: hidden;        
}

::-webkit-scrollbar {
    width:0;
}

.topLine {
   color: #d0d0d0;
   right:0;
   position:absolute;
   opacity:0;
   margin-top: 70px;
   width:0;
   z-index: 10;
   height: 1px;
}

#topMenu {
    @include golos();    
    position: fixed;
    display:flex;
    font-size: 1.2em;    
    width:100%;
    z-index: 1000;      
}

.divGray {
    position: absolute;
    top:0;    
    left:0;
    width:100%;
    height:100vh;
    background-color: $black;
    z-index: -1;
    display: none;
    opacity: 0;
}

.topMenuMobile {
     @include flex-row();
     //background-color: none;
     justify-content: space-between;
     position: relative;
     width:100%;
     font-size: 1rem;
     z-index: 100;
     padding:0.35rem;
     .arrowContainer { 
        @include circle(3.2rem);
        @include flex-column();        
        justify-content: center;
        will-change: opacity, display, scroll-position, visibility;
        visibility:'hidden';
        opacity:0;
        #arrow {
            width:75%;
            margin-top:-4px;
            align-self: center;            
            will-change: opacity, display, scroll-position;                
         }
    }
    .burgerMobileMenu {      
      @include flex-column(); 
      border-radius: 0 0 0 $borderRadius;           
        .burgerContainer {             
            @include circle(3.2rem);
            //transform-origin: 50% 50%;            
            display: flex;
            flex-direction: column;
            align-self: flex-end;
            }
            #burgerSVG {            
            transform-origin: 50% 50%;
            width: 100%;
            height: 100%;
            display:block;           
            }
            #burgerGroup {
            transform: translate(25%, 25%);
            display:block;          
            }
            #one, #two, #three {
            will-change: transform, rotation, opacity;
            fill:$white;
            }

      .menuMobileItems {
        padding-top:1rem;
        display:none;
        //visibility:hidden;                           
        a {       
            padding: 0 0.7rem 0.7rem;
            font-weight: 300;            
            @include flex-column();
            color:$white;
            will-change: transition, transform, visibility, scroll-position;
            text-decoration: none;
            &:first-child {
                display:none;
            } 
            span {                         
            transform: translate(250%);
            color:$white;
            background-color: $red;
            border-radius: $borderRadius;               
            letter-spacing: .04em;
            white-space: nowrap;
            will-change: transition, transform, scroll-position;
            display:none;
            padding:0.55rem 1.3rem 0.6rem;                    
            }     
        }
    }   
  }
}

.topMenuDesktop {
     padding-right:5rem;
     @include dark-block();
     align-items: flex-end;
    .menuItems {
       @include flex-row();
       width:100%;
        justify-content: flex-end;                        
    a {       
        display: inline-flex;
        padding: 1.7rem 1.5rem 1.3rem;
        font-weight: 300;
        color:$black;
        will-change: transition, transform, scroll-position, color;
        text-decoration: none;
        transition: .3s;
        span {
           opacity: 1;  
           letter-spacing: .04em;
           white-space: nowrap;
           will-change: transition, transform, scroll-position;         
            transition: 0.3s;
            }
        &:hover {                    
            span { 
            text-decoration: none!important;
            color:$yellow!important;
            transform: scale(1.2)!important;
            transition: 0.3s;
            color:$yellow;              
            }                    
        }
        &:nth-child(2) {
            display: none;
            }   
        } 
    }
    .tooltip {
        position: relative;
        text-decoration: none;
        display: none;
        opacity: 0;
        position: absolute;
        left:8.5%;
        &::after {
            content: attr(data-tooltip);
            position: absolute;
            font-size: 1rem;
            top: 1.7rem;
            left: 4.1rem;
            z-index: 100;
            color: $yellow;
            opacity: 0;
            white-space: nowrap; 
            transition: 0.5s;
            }
            &:hover {
                &::after {
                    display: block; 
                    opacity: 1;
                    }
                #arrow {
                fill:$yellow; 
                }
            }
        #arrow {
            position: relative;
            fill:$white;
            right:0;
            top:0;
            width:40px;
            height:20px;            
            
            &:hover {
                fill:$yellow;
            }
        }     
    } 
}          

.block{
    height: var(--viewport-height);
	min-height: 100vh;
    padding:5.7rem 0 3.5rem;
    @include flex-column();
    position: relative;
    display:flex;
    flex-direction: column;
    @media #{$media} and ($fMax:$valueM)  {      			
				padding:3.9rem 0 2.8rem;              
			}
    h1 {
        padding-bottom: 2.5rem;
        font-size: 2.1rem; 
        @media #{$media} and ($fMax:$valueM)  {      			
				padding-bottom: 1.7rem;             
			} 

    }  
    .contentBlock {
        @include bigBlockWidth(80%);   
    }
}

.block1 {
    @include dark-block();
    overflow: hidden;
    .first {        
        @include caveat();
        @include flex-column();
        
        .hi {
            line-height: 1em;
            opacity: 0;
            will-change: opacity,position,display,scale,translate,transform;
            @include mediaFontSize(7rem);        
            }
        .nameis {
            color:$yellow;
            line-height: 0.6em;
            align-self: center;
            opacity: 0;
            @include mediaFontSize(3.8rem);
            }
        .name {
            align-self: flex-end;
            @include flex-column();
            align-items: flex-end;
            transform: translateY(-2rem); 
              @media #{$media} and ($fMax:$valueS)  {      			
				        transform: none;                        
			        }         
            div {
                font-size:2.6rem;
                @include golos-extra-bold();
                font-weight: 900;
                line-height: 1em;
                @include mediaFontSize(1.7rem);			              
                }
            .namePhoto {
                @include flex-row();
                align-items: flex-end; 
                @media #{$media} and ($fMax:$valueS)  {      			
				        margin-top: 3rem;                       
			        }                
                .firstname {
                    margin-right:1.5rem;
                    opacity: 0;
                }
                .avatar {
                    @include box(8rem);
                    opacity: 0;
                    img {
                        width:100%;
                    }
                    @media #{$media} and ($fMin:$valueXXL)  {      			
				        @include box(12rem);
			        }                    
                }
              }  
            }
            .surname {
                opacity: 0;
            }
        }
        .text {
            @include golos(); 
            font-size:$text;  
            margin-top: -1.5rem;
            line-height: 1.4;
            opacity: 0;
            width:55%; 
            @include mediaFontSize(1.1rem); 
            @media #{$media} and ($fMax:$valueM)  {      			
				        width:auto;
			        }  
            @media #{$media} and ($fMax:$valueS)  {      			
				        margin-top: 6rem;                       
			        }             
        }

        h1:first-child {
            display:none;
        }
}            

.block2 {
    @include yellow-block();
}

.block3 {
    @include red-block();
}

.block4 {
    @include dark-block();   
}


.experience {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:2rem;
    .expList {
        background-color: $white;
        border-radius:$borderRadius;
        padding-bottom: 1.3rem;        
        div:not(:first-child) {
            padding:1.3rem 1.3rem 0;
        }
        .company {
            font-size: 1.25rem;
            background-color: $red;
            color:$white;
            border-radius:$borderRadius $borderRadius 0 0;
            padding: 0.8rem 1.3rem;
        }
        .year {
            font-size: 1.1rem;
            font-weight: bold;
        }
        .position {
            font-size: 1.1rem;
            font-weight: bold;
        }
        .description {
            font-size: 1rem;
        }
    }
}

.projects {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 3rem;
    @media #{$media} and ($fMax:$valueM)  {      			
				grid-template-columns:repeat(2, 1fr);
			}
    @media #{$media} and ($fMax:$valueS)  {      			
				grid-template-columns:repeat(1, 1fr);
			}
    .project {
        position: relative;
        overflow: hidden;
        transition: 0.3s;
        border-radius: $borderRadius;
        img {
            @include box(100%);
            }
        &::after {
            content:'';
            display:block;            
            position:absolute;
            background-color: $yellow;
            @include circle(2px);
            transition: 0.8s;
            top:0;
            left:0;
            opacity: 0;
            border: none;
            z-index: 1;            
            }  
        .projectDesc {
            position: absolute;
            top:20%;
            transform: translateX(-200%);
            z-index: 2;   
            opacity: 0;
            width:77%;
            font-size:1.2rem;
            color:#C05555;
            font-weight: 600;
            transition: 1s;
            &:hover {
                text-decoration: underline;
                transition: 1s;
            }      
            }           
        &:hover {
            box-shadow: 7px 7px 9px rgba(26, 26, 26, 0.25);
            scale:1.12;
            transition: 0.4s;
         .projectDesc {
             opacity: 1;
             transform: translateX(8%); 
             transition: 0.5s; 
            }
            &::after {
                border: none;
                transition: 0.3s;
                scale:310;
                background-color:$yellow;
                opacity: 0.9;
            }
        }           
       
    }
}

.projects.mobile {
    grid-gap: 0.8rem 3rem;
    .project.mobile {
        border-radius: 0;           
        img {
            width:100%;
            height: auto;
            border-radius: $borderRadius;
            //box-shadow: 7px 7px 9px rgba(26, 26, 26, 0.25);
            } 
        a {
            text-decoration: none;
            @include flex-column();
             align-items: center;
        } 
    &:hover {
            text-decoration: none;              
            scale:none;
            transition: none;
            box-shadow: none;
            transition: none;
            }             
    &::after {
        content:none;
    }
    .projectDesc {
            position: relative;
            top:-2rem;
            padding:0.5rem;
            opacity: 1;
            width:90%;
            font-size:1.1rem;
            color: $white;
            font-weight: normal;
            background-color: #000000;
            border-radius: $borderRadius;
            transform: none;
            box-shadow: 7px 7px 9px rgba(26, 26, 26, 0.25);
            &:hover {
              text-decoration: none;              
              scale:none;
              transition: none;
            }            
            &::after {
                content: none;
            }
    } 
  }
}








