
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


// Шрифты
@mixin caveat {
    font-family: "Caveat", sans-serif;
}
@mixin golos {
    font-family: "Golos", sans-serif;
}
@mixin golos-extra-bold {
    font-family: "Golos-Extra-Bold", sans-serif;
}

// Цвета
$black: #000;
$white: #fff;
$yellow: #fff957;
$red: #C05555;

//Размеры
$borders:10rem;
$height-top:1.6rem;
$biggest:10rem;
$text:1.7rem;

@mixin dark-block {
    background-color: $black;
    color:$white;    
}

@mixin yellow-block {
    background-color: $yellow;
    color:$black;
}

@mixin red-block() {
    background-color: $red;
    color:$yellow;       
}

@mixin flex-column {
    display:flex;
    flex-direction: column;
}

@mixin flex-row {
    display:flex;
    flex-direction: row;
}

@mixin box($e) {
    width:$e;
    height:$e;
}

// Структура

* {
	box-sizing:border-box;
	-webkit-tap-highlight-color: transparent;
    margin:0;
    padding:0;
}

body {
    width: 100%;
    @include golos();        
}

::-webkit-scrollbar {
    width:0;
}

h1 {
    font-size: 2.35em;
}

#top-menu {
    @include golos();
    @include dark-block();   
    font-size: 1.2em;
    display: flex; 
    flex-direction: row;
    justify-content: flex-end;    
    position: fixed;
    width:100%;
    z-index:999;
    opacity: 1;
           
    a {
        letter-spacing: .04em;
        display: block;
        text-align: right;
        padding: 1.7rem 1.5rem 1.3rem;
        font-weight: 300;
        color:$white;
        will-change: transition, transform, scroll-position;
        text-decoration: none;
        transition: .5s;
        &:not(:last-child) {
            //margin-right: 2.2em;;
        }
        &:last-child {
            margin-right: $borders - 1.5rem;
        }
        &:hover {
            color:$yellow;
            transform: scale(1.2);
        }
        &:nth-child(2) {
            display: none;
        }   
    } 
}

.tooltip {
    position: relative;
    text-decoration: none; /* Убираем стандартное подчёркивание */
    &::after {
        content: attr(data-tooltip);
        position: absolute;
        font-size: 1.1rem;
        top: 1.65rem;
        left: -3rem;
        z-index: 100; /* Подсказка будет отображаться поверх других элементов */
        color: $yellow;
        // padding: 5px 10px;
        border-radius: 3px;
        // display: none; /* По умолчанию скрыта */
        opacity: 0;
        white-space: nowrap; /* Гарантирует, что текст не будет переноситься на следующую строку  */
        transition: 0.5s;
        }
        &:hover {
            &::after {
                display: block; /* При наведении показываем подсказку */
                opacity: 1;
                }
            #arrow {
               fill:$yellow; 
            }
            }
        #arrow {
            position: relative;
            fill:$white;
            right:0;
            top:0;
            width:40px;
            height:20px;            
            
            &:hover {
                fill:$yellow;
            }
        }     
}           

.block{
    height: var(--viewport-height);
	min-height: 100vh;
    padding:7rem $borders 3.5rem;
    @include flex-column();
    position: relative;
    display:flex;
    flex-direction: column;
    h1 {
        padding-bottom: 2.5rem;
    }
   }

.block1 {
    @include dark-block();

    .first {
        @include caveat();
        @include flex-column();
        .hi {
            font-size: $biggest;
            line-height: 1em;
            }
        .nameis {
            color:$yellow;
            font-size:$biggest - 4;
            line-height: 0.6em;
            align-self: center;
            }
        .name {
            align-self: flex-end;
            @include flex-column();
            align-items: flex-end;
            margin-top:-45px;
            div {
                font-size:calc($biggest / 4);
                @include golos-extra-bold();
                line-height: 1em;            
                margin-top:-.25em;
                }
                img {
                    @include box(2.7em);                    
                }
            }
        }
        .text {
            @include golos(); 
            font-size:$text;  
            margin-top:-100px;
            line-height: 1.2;      
        }
        h1:first-child {
            display:none;
        }
}            

.block2 {
    @include yellow-block();
}

.block3 {
    @include red-block();
}

.block4 {
    @include dark-block();   
}

.projects {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 3rem;
    img {
        width:100%;
    }
}







