
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


// Шрифты
@mixin caveat {
    font-family: "Caveat", sans-serif;
}
@mixin golos {
    font-family: "Golos", sans-serif;
}
@mixin golos-extra-bold {
    font-family: "Golos-Extra-Bold", sans-serif;
}

// Цвета
$black: #000;
$white: #fff;
$yellow: #fff957;
$red: #C05555;

//Размеры
$borders:120px;
$hight-top:1.6em;
$biggest:10em;
$text:1.7em;

@mixin dark-block {
    background-color: $black;
    color:$white;    
}

@mixin yellow-block {
    background-color: $yellow;
    color:$black;
}

@mixin red-block() {
    background-color: $red;
    color:$yellow;       
}

@mixin flex-column {
    display:flex;
    flex-direction: column;
}

@mixin flex-row {
    display:flex;
    flex-direction: row;
}

@mixin box($e) {
    width:$e;
    height:$e;
}

// Структура

* {
	box-sizing:border-box;
	-webkit-tap-highlight-color: transparent;
    margin:0;
    padding:0;
}

body {
    width: 100%;        
}

h1 {
    font-size: 2.35em;
}

#top-menu {
    @include golos();
     @include dark-block();   
    font-size: 1.2em;
    display: flex; 
    justify-content: flex-end;
    padding: 1.2em 0 1em;
    position: fixed;
    width:100%;
    height: $hight-top;
    z-index:999;
    opacity: .6;
           
    a {
        letter-spacing: .04em;
        font-weight: 300;
        color:$white;
        will-change: transition, transform, scroll-position;
        transition: .5s;
        &:not(:last-child) {
            margin-right: 2.2em;;
        }
        &:last-child {
            margin-right: $borders;
        }
        &:hover {
            color:$yellow;
            transform: scale(1.2);
        }
        &:nth-child(2) {
        display: none;
        }       
    } 
}

.tooltip {
  position: relative;
  text-decoration: none; /* Убираем стандартное подчёркивание */
        &::after {
        content: attr(data-tooltip);
        position: absolute;
        top: -1px; /* Можно подстроить это значение под себя */
        left: -90px;
        z-index: 100; /* Подсказка будет отображаться поверх других элементов */
        color: $white;
        // padding: 5px 10px;
        border-radius: 3px;
        // display: none; /* По умолчанию скрыта */
        opacity: 0;
        white-space: nowrap; /* Гарантирует, что текст не будет переноситься на следующую строку  */
        transition: 0.5s;
        }
        &:hover::after {
        display: block; /* При наведении показываем подсказку */
        opacity: 1;
        }
}

.block{
    height: 100vh;
    padding:$hight-top*3 $borders 0;
    @include flex-column();
    position: relative;                
   }

// .block:not(.block.block1) {
//     padding-top:100px;
// }

.block1 {
    @include dark-block();

    .first {
        @include caveat();
        @include flex-column();
        .hi {
            font-size: $biggest;
            line-height: 1em;
            }
        .nameis {
            color:$yellow;
            font-size:$biggest - 4;
            line-height: 0.6em;
            align-self: center;
            }
        .name {
            align-self: flex-end;
            @include flex-column();
            align-items: flex-end;
            margin-top:-45px;
            div {
                font-size:calc($biggest / 4);
                @include golos-extra-bold();
                line-height: 1em;            
                margin-top:-.25em;
                }
                img {
                    @include box(2.7em);                    
                }
            }
        }
        .text {
            @include golos(); 
            font-size:$text;  
            margin-top:-100px;
            line-height: 1.2;      
        }
        h1:first-child {
            display:none;
        }
}            

.block2 {
    @include yellow-block();
}

.block3 {
    @include red-block();
}

.block4 {
    @include dark-block();   
}

#projects {
    display:grid;
    grid-template-columns:repeat(3, 1fr);
    grid-gap: 4%;
    img {
        width:100%;
    }
}







