
// Шрифты
@mixin caveat {
    font-family: "Caveat", sans-serif;
}
@mixin golos {
    font-family: "Golos", sans-serif;
}
@mixin golos-extra-bold {
    font-family: "Golos-Extra-Bold", sans-serif;
}

// Цвета
$black: #000;
$white: #fff;
$yellow: #fff957;
$red: #C05555;

//Размеры
$borders:120px;
$hight-top:1.6em;
$biggest:10em;
$text:1.7em;

@mixin dark-block {
    background-color: $black;
    color:$white;    
}

@mixin yellow-block {
    background-color: $yellow;
    color:$black;
}

@mixin red-block() {
    background-color: $red;
    color:$yellow;       
}

@mixin flex-column {
    display:flex;
    flex-direction: column;
}

@mixin flex-row {
    display:flex;
    flex-direction: row;
}

@mixin box($e) {
    width:$e;
    height:$e;
}

// Структура
#top-menu {
    @include golos();
    background:$black;    
    font-size: 1.2em;
    display: flex; 
    justify-content: flex-end;
    padding: 1.2em 0 1em;
    position: fixed;
    width:100%;
    height: $hight-top;
       
    a {
        letter-spacing: .04em;
        font-weight: 300;
        color:$white;
        will-change: transition, transform, scroll-position;
        transition: .5s;
        &:not(:last-child) {
            margin-right: 2.2em;;
        }
        &:last-child {
            margin-right: $borders;
        }
        &:hover {
            color:$yellow;
            transform: scale(1.2);
        }
    }  
}

.block{
    height: 100vh;
    padding:$hight-top*3 $borders 0;
    @include flex-column();
}

.block1 {
    @include dark-block();

    .first {
        @include caveat();
        @include flex-column();
        .hi {
            font-size: $biggest;
            line-height: 1em;
            }
        .nameis {
            color:$yellow;
            font-size:$biggest - 4;
            line-height: 0.6em;
            align-self: center;
            }
        .name {
            align-self: flex-end;
            @include flex-column();
            align-items: flex-end;
            margin-top:-45px;
            div {
                font-size:calc($biggest / 4);
                @include golos-extra-bold();
                line-height: 1em;            
                margin-top:-.25em;
                }
                img {
                    @include box(2.7em);                    
                }
            }
        }
        .text {
            @include golos(); 
            font-size:$text;  
            margin-top:-100px;
            line-height: 1.2;      
        }
}            

.block2 {
    @include yellow-block();
}

.block3 {
    @include red-block();   
}











