@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Onest:wght@100..900&display=swap');

* {
	box-sizing:border-box;
	-webkit-tap-highlight-color: transparent;
    margin:0;
    padding:0;
}

body {
width: 100%;
padding-right:0;
padding-left:0;
}

.tork-land {
margin-bottom:20px;
}

.tork-land * {
font-family:"Fira Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tork-banner {
/*background-image:url('/medias/sys_master/root/h20/h65/10512510189598/-.jpg');
background-repeat:no-repeat;
background-size:cover;*/
position:relative;
}

.anim {
-webkit-animation-duration: 0.5s;
animation-duration: 0.5s;
-webkit-animation-fill-mode: forwards;
animation-fill-mode: forwards;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

.tork-banner img.t-logo {
position:absolute;
width: 170px;
margin: 30px 0 0 30px;
/* mix-blend-mode: multiply; */
    padding: 10px;
    border-radius: 8px;
    border-radius: 4px;
    top: -20;
    left: -15;
}

.tork-banner img.t-banner {
width:100%;
}

.tabs {
    flex-wrap:wrap;
    justify-content: center;
    margin-top:30px;
    text-align:center;
    background-color:white;
}

/* Стили секций с содержанием */
.tabs>section {
/* display: none; */
margin-top: 50px;
font-size:0.98rem;
color:#000;
width:100%;
/* прикрутим анимацию */
-webkit-animation-duration: 0.5s;
animation-duration: 0.5s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
-webkit-animation-name: fadeIn;
animation-name: fadeIn;
}

/* Описываем анимацию свойства opacity */

@-webkit-keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
@keyframes fadeIn {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}
/* Прячем чекбоксы */
.tabs>input {
display: none;
position: absolute;
}
/* Стили переключателей вкладок (табов) */
.tabs>label {
font-size: 17px;
color: #6D778B;
margin-left: 10px;
margin-right: 10px;
font-weight: 400;
padding: 0 12px 7px;
border-left: 3px solid white;
border-right: 3px solid white;
position: relative;
background-color: white;
}

/* Изменения стиля переключателей вкладок при наведении */

.tabs>label:hover {
border-bottom:1px solid #6D778B;
}
/* Стили для активной вкладки */
.tabs>input:checked+label {
 color: black;
 border-bottom:3px solid #DA1F2A;
}

.tabs>input:checked+label:hover {
text-decoration:none;
}
/* Активация секций с помощью псевдокласса :checked */
#tab1:checked~#content-tab1, #tab2:checked~#content-tab2, #tab3:checked~#content-tab3 {
display: block;
}


.texts.lf.w985 p {
padding-bottom:15px;
}

.lf {
text-align:left;
}

.tork-land h2 {
font-size: 1.8em;
font-weight: 400;
padding-top: 40px;
padding-bottom: 25px;
}

.tork-land h2 + div.lists {
    padding-top: 15px;
}

.tork-land h3 {
font-size: 1.1em;
font-weight:500;
padding-top:15px;
padding-bottom:10px;
padding-left: 10px;
padding-right: 10px;
}

.blue {
margin-top:25px;
background-color:  #E5F4FF;
width:100%
}

.blue>div>div>p {
max-width: 570px;
margin:0 auto;
}

.w985 {
width:985px;
margin:0 auto;
}

.lists	{
display:flex;
flex-wrap:wrap;
justify-content:space-between;
padding-top: 25px;
padding-bottom: 25px;
/* width:985px;
margin:0 auto; */
}

.lists.four p {
padding-left:10px;
padding-right:10px;
}

.lists.three p {
padding-left:20px;
padding-right:20px;
}

.lists.two>div {
width:47%;
}

.lists.three>div {
width:32%;
}
.lists.four>div {
width:24%;
}

.big {
font-size:4.5em;
padding:30px 0;
}

.color>div {
background-color:rgba(1, 153, 255, 0.8);
display: flex;
flex-wrap: wrap;
flex-direction: column;
padding: 25px 10px;
justify-content: space-between;
}

.white * {
color:white!important;
}

.logos img {
height:170px;
}

video {
width:100%;
padding-top:15px;
padding-bottom:25px;
}

.lists.two p {
padding-bottom:15px;
}

.lf span {
display:block;
padding-bottom:6px;
}

.art {
padding: 25px 0;
}

.tork-land section > h2:first-child {
padding-top:0px;
}

a.downl {
color: #6D778B;
border: 1px solid #6D778B;
padding: 11px 50px 9px;
border-radius: 4px;
font-weight: 500;
margin-top: 10px;
display: inline-block;
}

a.downl:hover {
background:#E5E5E5;
}	

.tork-land p {
margin-top:0;
}

.tork-land h2, .tork-land h3, .tork-land p  {
    color:#000;
}	

.big {
padding:0;
}	
.video {
padding-top:0;
}


@media screen and (max-width:1100px) {
.w985 {
    width:100%;
    padding:0 20px;
}

.tork-banner.w985 {
padding:0;
}


.tork-banner img.t-logo {
width:18%;
margin:3% 0 0 3%;
}

}


@media screen and (max-width:620px) {

.tabs {
white-space: nowrap;
overflow-x: auto;
}

.tabs label:nth-of-type(2) {
margin-left:0;
margin-right:0;
}

.tabs section {
white-space: normal;
position: sticky;
left: 0;
}

.m-hid {
visibility: hidden;
display: inline;
}

.lists {
    flex-direction: column;
}

a.downl {
    margin: 10px auto 30px;
    display: block;
    width: 170px;
    text-align: center;
}
     .lists.four>div, .lists.three>div,  .lists.two>div {
    width:auto;
}

.art {
    padding: 0 0 25px 0;
    }

}

@supports (display:grid) {

.lists {
    display:grid;
    grid-column-gap: 20px;
    grid-row-gap: 40px;
 }
  
 .lists.two {
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 60px;
 }
      
.lists.three.color {

}

 .lists.three {
 grid-template-columns: repeat(3,1fr);
 } 
 .lists.three img,  .lists.two img {
    width: 100%; 
    object-fit: contain;
    } 
 
 .lists.four {
 grid-template-columns: repeat(4,1fr);
 }
   
 .lists.four>div, .lists.three>div,  .lists.two>div {
    width:100%;
}

@media screen and (max-width:800px) {
    .lists.four, .lists.three.prod  {
        grid-template-columns: repeat(2,1fr);
    }

}

@media screen and (max-width:620px) {
    .lists {
        grid-template-columns: repeat(1,1fr)!important;
    }
}

}

@media screen and (min-width:1000px) {
    
    .lists.three>div {
        transform:scale(1);
        transition: .2s; 
        position:relative;           
    }

    .lists.three.how>div:hover {
        transform:scale(1.3);
        transition: .5s;
        /* box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1), 0.3em 0.3em 1em rgba(85, 85, 85, 0.3); 
        padding-top: 5px;
        padding-bottom: 2px;
        height: 5px;  */
    }
}

